.menu {
  list-style-type: none;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
  margin-top: 40px;
  padding: 0;
}

.item {
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.logo {
  flex-grow: 18;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.link {
  color: black;
  text-decoration: none;
  line-height: 1.1;
}